.burgerbox{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
    width: 500px;
    height: 500px;
    left: 0px;
    top: 70px;
    z-index: -1;
    
    
    background: #000000;
    border-radius: 0px 20px 0px 0px;
    }

.burger{
    display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 10px;
     /* position: absolute; 
    width:300px; 
    height:200px;
left: 100px;
top: 150px; */

}
.description{
color: #FFFFFF;
height: 100px;
width: 300px;
text-align: center;

}

.icons{
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;
    width: 400px;
}