.cart-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 30px;
	background-color: #ffd93d;
	border-radius: 10px;
	cursor: pointer;
	user-select: none;
}

.textbox {
	width: 129px;
	height: 36px;
	background-color: #ffd93d;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text-data {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
