.info-container {
	width: 375px;
	height: 200px;
	/* border: 1px solid grey; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 10%;
}

.order-now-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 30px;
	background-color: #ffd93d;
	border-radius: 10px;
	cursor: pointer;
}
