.extras{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
     width: 80%; 
     /* height: 10vh; */
    gap: 10px ;
    /* flex-basis: 50%; */
    align-content: space-between;
    /* border: 2px solid; */
    /* height: 50%; */
}

/* input{
    margin-right: 1rem;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: pink;
    border:2px solid blue;
  }
  
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } */
input[type=checkbox] {
    outline: 2px solid #FFD93D;
     outline-offset: -2px; 
    /* box-sizing: border-box; */
    /* border: #FFD93D; */
     /* box-shadow: 0 0 0 1px #88b8ff;  */
     margin-bottom: 20px;
     margin-right: 10px;
  }