.ingredient-header{
    font-size: 30px;
    font-weight: bold;
}

ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* align-items: flex-start; */
      gap: 20px;  
    /* flex-basis: 50%; */
     height: 40vh; 
     width: 80%; 
     /* border: 2px solid; */
     list-style: none;
}

