body {
	font-family: "Poppins", sans-serif;
}

.black-box {
	position: absolute;
	width: 455px;
	height: 476px;
	left: 0px;
	top: 0px;
	background: #000000;
	border-radius: 0px 0px 30px 0px;
	z-index: -1;
}

.truck-image {
	position: absolute;
	width: 712px;
	height: 482px;
	left: 10px;
	top: 28px;

	background: url("../public/foodvan.svg");
}

.headings {
	text-align: center;
	margin-top: 5%;
}

.products-container {
	padding-top: 2%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

/* .footer-box-container {
	width: 565px;
	height: 420px;
	background-color: red;
	display: flex;
	justify-content: flex-end;
} */

/* .footer-triangle {
	width: 46px;
	height: 46px;
	background: #000000;
	transform: rotate(-50deg);
	margin-top: 30%;
} */

.about-us-container {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	/* padding-right: 50px; */
}

.footer-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 465px;
	height: 420px;
	background: #000000;
	border-radius: 20px 0px 0px 20px;
}

.view-more {
	text-align: end;
	margin-right: 3.8%;
	cursor: pointer;
	font-weight: bold;
}

.view-more-mobile {
	margin-top: 10%;
	font-size: 45px;
	font-weight: bold;
	color: #ffd93d;
	padding-bottom: 10%;
	cursor: pointer;
	user-select: none;
}

/* Mobile view */
@media screen and (max-width: 480px) {
	.black-box {
		width: 100vh;
		height: 350px;
		border-radius: 0px 0px 0px 0px;
	}

	.truck-image {
		left: 20px;
		top: 80px;
	}

	.headings {
		width: 100vh;
		text-align: center;
		margin-top: 15%;
	}

	.heading-tag {
		font-size: 60px;
	}
	.heading-para {
		font-size: 30px;
	}

	.products-container {
		width: 100vh;
		padding-top: 5%;
		display: grid;
		grid-template-columns: auto auto;
		row-gap: 15%;
	}

	.about-us-container {
		display: none;
	}

	.view-more {
		display: none;
	}
}

/* Desktop view */
@media screen and (min-width: 480px) {
	.view-more-mobile {
		display: none;
	}
}
